<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="The digital class note">
	<meta name="author" content="Lan Dang">

	<title>A Journey ahead - admin</title>

	<link rel="stylesheet" href="">
	<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class= "container">
		<h2>Add new teacher</h2><hr>
		<form action="/admin/teacher" method="POST">
		  <div class="form-group">
		  	<label for="name">Teacher's name</label>
		  	<input type="text" name="name" class="form-control" id="name">
		  </div>
		  <div class="form-group">
		    <label for="field">Field</label>
		    <input type="text" class="form-control" id="field" name="field">
		  </div>
		  <div class="form-group">
		    <label for="img">Image Link</label>
		    <input type="text" class="form-control" id="img" name="img">
		  </div>
		  
		  <button type="submit" class="btn btn-primary">Add New Teacher To Database</button>
		</form>
	</div>
</body>
</html>