<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The digital class note">
    <meta name="author" content="Lan Dang">
    <title>The Autograph Book - FLSS</title>

    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/admin/teacher">Teacher</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Change Password</a>
            </li>
        </ol>
        <div class="section--form w-75 my-4 mx-auto">
            <form action="/admin/teacher/password" method="POST">
                <div class="form-group">
                    <label for="oldPassword">Current password: </label>
                    <div class="input-group">
                        <input type="password" name="oldPassword" id="oldPassword" class="form-control"/>
                        <div class="input-group-append">
                            <button class="btn btn-success passwordToggle" type="button">Show Password</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newPassword">Your new password: </label>
                    <div class="input-group">
                        <input type="password" name="newPassword" id="newPassword" class="form-control"/>
                        <div class="input-group-append">
                            <button class="btn btn-success passwordToggle" type="button">Show Password</button>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Change Password</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/libs/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $('.passwordToggle').on('click', function() {
            var passwordToggleVal = $(this).text() === "Show Password" ? "Hide Password" : "Show Password"
            var passwordInput = $(this).parent().prev()
            var passwordType = passwordInput.attr('type') === "password" ? "text" : "password"
            $(this).text(passwordToggleVal)
            passwordInput.attr('type', passwordType)
        })
    </script>
</body>
</html>